body {
	align-items: center;
	background: hsl(350, 90%, 67%);
	display: flex;
	font-family: sans-serif;
	font-size: 3rem;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
}

#root > div {
	background: white;
	box-shadow: 0px 1px 15px 0px #999;
	padding-bottom: 2rem;
}

input, button {
	font-size: 3rem;
}

h1 {
	background: hsla(195, 80%, 90%, 1);
	font-size: 3rem;
	padding: 2rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	cursor: pointer;
	padding: 1rem 2rem;
}

ul li:hover {
	background: #eee;
}

ul li.complete {
	text-decoration: line-through;
}

p {
	padding: 0 2rem;
}
